
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido de : <%= filePath %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="body-error">

    <main>
        <div class="main-page">
            <h2>Contenido de : <%= filePath %></h2>
            <p><strong><%= filesList.length %></strong> elementos en este directorio</p>

            <div class="error-page">
                <% if(filesList.length == 0) { %>
                    <p>👾 Este directorio está vacío</p>
                <% } else { %>
                    <div>
                        <% filesList.forEach(function(file) { %>
                            <%= file.icon %><a class="error-page-a" href="<%= file.url %>"><%= file.url %></a>
                        <% }); %>
                    </div>
                <% } %>
                <a href="/dashboard" class="btn">Volver al inicio</a>
            </div>
        </div>
        
    </main>

</body>

</html>