
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido de : <%= filePath %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="content-center">

    <main>
        <div class="main-page">
            <h2>Contenido de : <%= filePath %></h2>
            <p><strong><%= filesList.length %></strong> elementos en este directorio</p>
            <br>
            <div class="card section-block">
                <% if(filesList.length == 0) { %>
                    <p>👾 Este directorio está vacío</p>
                <% } else { %>
                    <section class="section-block">
                        <% filesList.forEach(function(file) { %>
                            <p>
                                <%= file.icon %> <a class="link-color" href="<%= file.url %>"><%= file.name %></a>
                            </p>
                        <% }); %>
                    </section>
                <% } %>
                <br>
                <a href="/dashboard" class="btn">Volver al dashboard</a>
            </div>
        </div>
        
    </main>

</body>

</html>